* {
    padding: 0px;
    margin: 0px;
}

.img {
    width: 100%;
    height: 100vh;
}

#canvas-container {
    position: absolute;
    top: 0px;
    z-index: -10;
}

.container {
    text-align: center;
    position: absolute;
    bottom: 42%; /* Center the container vertically */
    padding-bottom: 20px;
    left: 50%; /* Center the container horizontally */
    transform: translate(-50%, -50%); /* Center the container both vertically and horizontally */
}



.title {
    opacity: 0.8;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), transparent);
    padding: 20px;
    width: 850px;
    position: relative;

    top: 20px;
    
    
    animation: blink 2s infinite alternate; /* Apply blinking animation */
}

@keyframes blink {
    0%, 100% {
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0.5), transparent); /* Start and end with normal gradient */
    }
    50% {
        background: none; /* Transition to no gradient (fully off) */
    }
}


h1 {
    font-family: 'Arial', sans-serif;
    font-size: 36px;
    margin: 0;
}

h2 {
    font-family: 'Arial', sans-serif;
    font-size: 24px;
    margin: 5px 0;
}

.head {
    position: relative;
    top: 40px;
}
button {
    background-color: green;
    color: #fff;
    border: none;
    padding: 10px 20px;
    position: relative;
    font-size: 18px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #0056b3;
}

/* Media query for screens smaller than 768px (typical mobile phones) */
@media only screen and (max-width: 768px) {
    .container {
        bottom: 40%; /* Adjust vertical position */
    }

    h1 {
        font-size: 24px; /* Adjust font size */
    }

    h2 {
        font-size: 18px; /* Adjust font size */
    }

    button {
        font-size: 14px; /* Adjust font size */
        padding: 8px 16px; /* Adjust padding */
    }
}
